{% extends 'ex01/base.html' %} {% block title %}<title>Ex01 : Processus d’affichage d’une page statique.</title>{% endblock %} {% block content %}
    <h1>Ex01 : Processus d’affichage d’une page statique.</h1>
    <p>Processus entraînant l’affichage d’une page web statique à partir d’un simple template en passant par une vue, de la requête à la réponse.</p>

	<h2>Étapes du processus d’affichage d’une page web statique avec Django</h2>
	<ol>
		<li>Le client envoie une requête HTTP au serveur.</li>
		<li>Le serveur reçoit la requête et la transmet à l'application Django.</li>
		<li>Django traite la requête et appelle la vue appropriée.</li>
		<li>La vue génère une réponse en utilisant un template.</li>
		<li>Le serveur envoie la réponse au client.</li>
	</ol>

{% endblock %}