{% extends 'blog/home.html' %}
{% load i18n %}

<!-- Bloc "content" from parent -->
{% block content %}
    <h1>{% translate "Details" %}</h1>

    <h2>{{ article.title }}</h2>
	<p><strong>{% translate "Author:" %}</strong> {{ article.author.username }}</p>
	<p><strong>{% translate "Created on:" %}</strong> {{ article.created }}</p>
	<p><strong>{% translate "Synopsis:" %}</strong> {{ article.synopsis }}</p>
	<div>
		<strong>{% translate "Content:" %}</strong>
		<p>{{ article.content }}</p>
	</div>

	{% if user.is_authenticated and not is_favourite %}
		<form method="post" action="{% url 'blog:favourite-article' article_pk=article.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">{% translate "Add to favourites" %}</button>
        </form>
	{% endif %}
{% endblock %}
